.voyage-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  font-size: 1.1rem;
  font-weight: 500;
}

.voyage-unit {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: rgb(183, 182, 182);
  min-width: 25rem;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: rgb(108, 108, 125);
  color: rgb(231, 228, 228);
}
